/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --header-title: #db00ff;
  --header-title-shadow: #ff0070;
  --header-text: #000028;
  --header-text-decoration: #ff0070;
  --header-REC: #ff0070;
  --header-button: #ff0070;
  --header-button-border: #ff0070;
  --main-title: #ff0070;
  --main-title-second: #000028;
  --main-title-docoration: #ff0070;
  --main-text: #f1b2ce;
  --main-link-shadow: #ff0070;
  --backgroung-img: url(../images/cover-image-dark.png);
  --background-color: #000028;
  --focus-link: #FF0070;
  --hover-link: #F1B2CE;
  --hover-button: #F1B2CE;
  --focus-button: #FF007066;
  
}



