/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* Цаета темной темы 100% */
  --header-title: #DB00FF;
  --header-title-shadow:#FF0070;
  --header-text: #000028;
  --header-text-decoration: #FF0070;
  --header-REC:#FF0070;
  --header-button: #FF0070;
  --header-button-border: #FF0070;
  --main-title: #FF0070;
  --main-title-second: #000028;
  --main-title-docoration: #FF0070;
  --main-text: #F1B2CE;
  --main-link-shadow: #FF0070;
  --backgroung-img-d: url(/images/cover-image-dark.png);
  --background-color-d:#000028;

}

.theme-dark .page {
  background-image: var(--backgroung-img-d);
  background-color: var(--background-color-d); 
}
.theme-dark .header__theme-menu-button {
  color: var(--header-button);
}
.theme-dark .main__title-decor {
  background-color: var(--main-title-docoration);
}
.theme-dark .main__title {
  color: var(--main-title);
}
.theme-dark .main__text {
  color: var(--main-text);
}
.theme-dark .main__text-link {
  color: var(--main-text);
  text-shadow: 2px 2px 0 var(--main-link-shadow);
}
.theme-dark .header__text-decor {
  background-color: var(--header-text-decoration);
}
.theme-dark .header__title {
  color: var(--header-title);
  text-shadow: 2px 2px 0 var( --header-title-shadow);
}
.theme-dark .footer__title {
  color: var(--header-title);
  text-shadow: 2px 2px 0 var(--header-title-shadow);
}
.theme-dark .footer__REC-u {
  border-top: 1px var(--header-REC) solid;
  border-right: 1px var(--header-REC) solid;
}
.theme-dark .footer__REC-d {
  border-bottom: 1px var(--header-REC) solid;
  border-left: 1px var(--header-REC) solid;
}
.theme-dark .header__REC-u {
  border-top: 1px var(--header-REC) solid;
  border-right: 1px var(--header-REC) solid;
}
.theme-dark .header__REC-d {
  border-bottom: 1px var(--header-REC) solid;
  border-left: 1px var(--header-REC) solid;
}
.theme-dark .header__REC-text {
  color: var(--header-REC);
}
.theme-dark .header__text-p {
  color: var(--header-text);
}
.theme-dark .main__title-sec {
  color: var(--header-text);
}
.theme-dark .main__title-th {
  color: var(--header-text);
}
.theme-dark .main__title-gal {
  color: var(--main-title-second)
}
.theme-dark .header__theme-menu-button:hover {
  border: 1px #FF007066 solid;
}
.theme-dark .main__text-link:hover {
  border-bottom: 1px solid #F1B2CE;
}
.theme-dark .header__theme-menu-button:focus{
  outline: none;
}
.theme-dark .header__theme-menu-button:focus-visible {
  border-bottom: 1px #FF0070 solid;
}
.theme-dark .main__text-link:focus {
  outline: none;
}
.theme-dark .main__text-link:focus-visible {
  border: 1px solid #F1B2CE;  
}


