/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-text-color-l: #353430;
  --main-title-color-l: #ff8dcb;
  --main-title-text-color-l: #353430;
  --header-text-color-l: #353430;
  --hf-title-color-l: #ffc2e6;
  --shadow-color-title-l: #ff8dcb;
  --backgroung-img-l: url(/images/cover-image-light.png);
  --background-color-l: #fff1f7;
  --button_text-color-l: #353430;
  --rec-angel: #353430;
}
@media (prefers-color-scheme: light) {
:root {
  --main-text-color-l: #353430;
  --main-title-color-l: #ff8dcb;
  --main-title-text-color-l: #353430;
  --header-text-color-l: #353430;
  --hf-title-color-l: #ffc2e6;
  --shadow-color-title-l: #ff8dcb;
  --backgroung-img-l: url(/images/cover-image-light.png);
  --background-color-l: #fff1f7;
  --button_text-color-l: #353430;
  --rec-angel: #353430;
}
}