/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --main-text-color-l: #353430;
  --main-title-color-l:#FF8DCB;
  --main-title-text-color-l:#353430;
  --header-text-color-l:#353430;
  --hf-title-color-l:#FFC2E6;
  --shadow-color-title-l:  #FF8DCB;
  --backgroung-img-l: url(/images/cover-image-light.png);
  --background-color-l:#FFF1F7;
  --button_text-color-l: #353430;
  --rec-angel: #353430;
}

.header__theme-menu-button_type_light {
  border: 1px var(--rec-angel) solid;
  width: 70px;
  height: 26px;
}
.theme-light .page {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-image: var(--backgroung-img-l);
  background-color: var(--background-color-l); 
}
.theme-light .header__REC-u {
  border-top: 1px var(--rec-angel) solid;
  border-right: 1px var(--rec-angel) solid;
}
.theme-light .header__REC-d {
  border-bottom: 1px var(--rec-angel) solid;
  border-left: 1px var(--rec-angel) solid;
}
.theme-light .header__REC-text {
  display: none;
}
.theme-light .header__text-p {
  color: var(--main-title-text-color-l);
  margin-top: 68px;
}
.theme-light .header__theme-menu-button {
  color: var(--button_text-color-l)
}
.theme-light .header__theme-menu-list {
  top: 73px;
  right: 1px;
}
.theme-light .header__title {
  color: var(--hf-title-color-l);
  text-shadow: 4px 4px 0 var(--shadow-color-title-l);
  top: 47px;
}
.theme-light .main__title-decor {
  background-color: var(--main-title-color-l);
}
.theme-light .main__title {
  color: var(--main-text-color-l);
}
.theme-light .main__text {
  color: var(--main-text-color-l);
}
.theme-light .main__text-link {
  color: var(--main-text-color-l);
  text-shadow: 2px 2px 0 var(--shadow-color-title-l);
}
.theme-light .header__text-decor {
  background-color: var(--main-title-color-l);
}
.theme-light .footer__title {
  color: var(--hf-title-color-l);
  text-shadow: 4px 4px 0 var(--shadow-color-title-l);
}
.theme-light .main__title-sec {
  color: var(--main-title-text-color-l);
}
.theme-light .main__title-th {
  color: var(--main-title-text-color-l);
}
.theme-light .header__theme-menu-button:hover {
  border: 1px #32312D66 solid; 
}
.theme-light .main__text-link:hover {
  border-bottom: 1px solid #32312D;
}
.theme-light .header__theme-menu-button:focus{
  outline: none;
}
.theme-light .header__theme-menu-button:focus-visible {
  border-bottom: 1px #353430 solid;
}
.theme-light .main__text-link:focus {
  outline: none;
}
.theme-light .main__text-link:focus-visible {
  border: 1px solid #353430;  
}
@media (width >= 768px) {
 .theme-light .header__text-p {
    top: 32px
  }
  .theme-light .header__theme-menu-list {
    top: 190px;
    right: 20px
  }
}
@media  (width >= 1024px) {
  
}
