/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --header-button: #353430;
  --header-text-decoration: #ff8dcb;
  --header-title: #ffc2e6;
  --header-title-shadow: #ff8dcb;
  --header-REC: #353430;
  --main-text: #353430;
  --main-title: #353430;
  --main-title-docoration: #ff8dcb;
  --main-title-second: #353430;
  --focus-link: #353430;
  --hover-link: #353430;
  --focus-button: #32312D66;
  --hover-button: #353430;
  --backgroung-img: url(/images/cover-image-light.png);
  --background-color: #fff1f7;
}
@media (prefers-color-scheme: light) {
:root {
  --header-button: #353430;
  --header-text-decoration: #ff8dcb;
  --header-title: #ffc2e6;
  --header-title-shadow: #ff8dcb;
  --header-REC: #353430;
  --main-text: #353430;
  --main-title: #353430;
  --main-title-docoration: #ff8dcb;
  --main-title-second: #353430;
  --focus-link: #353430;
  --hover-link: #353430;
  --focus-button: #32312D66;
  --hover-button: #353430;
  --backgroung-img: url(/images/cover-image-light.png);
  --background-color: #fff1f7;
}
}
.theme-light .header__REC-text::after {
  display: none;
}
.theme-light .header__REC-text::before {
  display: none;
}