/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
.page {
  display: grid;
  grid-template-columns: 100vw;
  margin-left: 10px;
  min-height: 668px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  align-content: center;
  overflow-x: hidden;
  margin: 0;
}
.header {
  display: grid;
  position: relative;
  height: 100vh;
  min-height: 668;
  padding: 0 10px 0 10px;
  margin-bottom: 40px;
}
.header__REC-u {
  position: absolute;
  justify-self: end;
  top: 10px;
  right: 10px;
  inline-size: 25px;
  block-size: 25px;
}
.header__REC-d {
  position: absolute;
  align-self: end;
  bottom: 10px;
  left: 10px;
  inline-size: 25px;
  block-size: 25px;
}
.header__REC-text {
  position: relative;
  align-self: start;
  justify-self: end;
  padding-top: 10px;
  padding-right: 60px;
}
.header__REC-text::before {
  font-size: var(--main-text-size);
  font-family: var(--main-text-ff);
  font-weight: var(--main-text-weight-l);
  content: "REC";
  position: absolute;
  justify-self: end;
  line-height: 25px;
}
.header__REC-text::after {
  position: absolute;
  content: "";
  display: block;
  border-radius: 50%;
  inline-size: 0.5rem;
  block-size: 0.5rem;
  background: var(--header-REC);
  box-shadow: 0 0 4px 2px var(--header-REC);
  top: 19px;
  left: 44px;
}
.header__theme-menu {
    position: absolute;
    justify-self: end;
    top: 75px;
    right: 10px;
    margin-bottom: 20px;
}
.header__theme-menu-list {
  display: grid;
  justify-self: flex-end;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.header__theme-menu-item {
  list-style: none;
}
.header__theme-menu-button {
  font-size: var(--main-text-size);
  font-family: var(--main-text-ff);
  font-weight: var(--main-text-weight-l);
  background-color: transparent;
  border: none;
  line-height: 18px;
  width: 70px;
  height: 26px;
}
.header__theme-menu-button_type_dark {
  border: 1px var(--shadow-color-title-d) solid;
}
.header__text-p {
  font-family: var(--main-text-ff);
  font-size: var(--main-text-size);
  line-height: var(--mein-text-lh);
  font-weight: var(--main-text-weight-b);
  min-height: min-content;
  height: max-content;
  margin: 0;
}
.header__text {
    min-height: min-content;
}
.header__title {
    display: grid;
  font-family: var(--main-text-ff);
  font-weight: var(--main-text-weight-b);
  font-size: var(--hf-text-size);
  line-height: var(--hf-text-lh);
  justify-self: center;
  align-self: end;
  padding-top: 95px;
  padding-bottom: 55px;
  margin: 0;
}
.main {
  display: grid;
  grid-template-columns: 100%;
  padding: 0 10px 0 10px;
  gap: 29px;
  padding-bottom: 40px;
}
.main__title {
  font-family: var(--main-text-ff);
  font-size: var(--main-text-size);
  line-height: var(--mein-text-lh);
  font-weight: var(--main-text-weight-b);
  padding-bottom: 20px;
  margin: 0;
}
.main__text {
  font-family: var(--main-text-ff);
  font-size: var(--main-text-size);
  line-height: var(--mein-text-lh);
  font-weight: var(--main-text-weight-l);
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main__title-fr {
    margin-bottom: 5px;
}
.main__title-th {
  font-family: var(--main-text-ff);
  font-size: var(--main-text-size);
  line-height: var(--mein-text-lh);
  font-weight: var(--main-text-weight-l);
  margin: 0;
  margin-top: 20px;
}
.main__title-sec {
  font-family: var(--main-text-ff);
  font-size: var(--main-text-size);
  line-height: var(--mein-text-lh);
  font-weight: var(--main-text-weight-b);
  margin: 0;
}
.main__text-link {
  text-decoration: none;
}
.gallery__image {
  width: 100%;
  object-position: center;
  object-fit: cover;
}
.galerry__img {
  display: grid;
  gap: 10.5px;
  margin-top: 0px;
}
.gallery {
  display: grid;
  gap: 9.5px;
  position: relative;
  grid-template-columns: 100%;
  margin-top: 0px;
}
.main__title-gal {
  font-family: var(--main-text-ff);
  font-size: var(--main-text-size);
  line-height: var(--mein-text-lh);
  font-weight: var(--main-text-weight-b);
  position: relative;
  margin: 0;
}
.footer {
  display: grid;
  position: relative;
  margin: 0;
  height: 100vh;
  min-height: 668px;
}
.footer__title {
  font-family: var(--main-text-ff);
  font-weight: var(--main-text-weight-b);
  font-size: var(--hf-text-size);
  line-height: var(--hf-text-lh);
  position: relative;
  align-self: center;
  justify-self: center;
  color: var(--hf-title-color);
  text-shadow: 4px 4px 0 var(--shadow-color-title);
  margin: 0;
}

@media (width >= 768px) {
  .page {
      display: grid;
      min-height: 1024px;
  }
  .header {
      display: grid;
      padding: 0;
  }
  .header__title {
      justify-self: start;
      padding-top: 0;
      padding-bottom: 10px;
      bottom: 0;
  }
  .header__REC-u {
      top: 20px;
      right: 20px;
  }
  .header__REC-d {
      bottom: 20px;
      left: 20px;
  }
  .header__REC-text {
      position: relative;
      align-self: start;
      justify-self: end;
      right: 22px;
      top: 10px;
  }
  .header__theme-menu-list {
    position: relative;
      right: 10px;
      top: 115px;
  }
  .header__text-p {
      position: relative;
      justify-self: end;
      margin-right: 20px;
      top: 50px;
      margin-top: 100px;
      width: 364px;
  }
  .main {
      padding: 0 10px 40px 10px;
      gap: 0;
  }
  .main__section-fr {
      display: flex;
      flex-direction: column;
      justify-items: start;
  }
  .main__title-decor {
      position: relative;
      min-width: 472px;
      height: 23px;
  }
  .main__title {
      position: relative;
      top: 0px;
      padding: 0;
      margin-bottom: 20px;
      height: 71px;
      width: 236px;
  }
  .title__one {
      top: 22.5px;
      left: 10px;
  }
  .main__text-fr {
      position: relative;
      width: calc(100% - 280px);
      align-self: flex-end;
      bottom: 67px;
      padding-right: 15px;
  }
  .main__section-sec {
      position: relative;
      display: flex;
      flex-direction: column;
      inline-size: calc(100% - 20px);
      justify-content: start;
      bottom: 60px;
  }
  .main__section-text {
      position: relative;
      left: 10px;
  }
  .sec-one {
      position: relative;
      align-self: flex-end;
      justify-self: start;
      margin-right: 10px;
      bottom: 67px;
  }
  .t-d {
      position: relative;
      align-self: flex-end;
      justify-self: start;
      bottom: 100px;
  }
  .sec-two {
      position: relative;
      margin-top: 2px;
  }
  .sec-two:first-of-type {
      position: relative;
      margin-top: 20px;
  }
  .main__section-th {
      display: grid;
      position: relative;
      top: 3px;
      grid-template-columns: min-content minmax(472px, max-content);
      inline-size: calc(100% - 20px);
      gap: 20px;
      justify-items: start;
      justify-content: start;
      padding-left: 10px;
  }
  .main__section-text-th {
      padding-top: 0px;
      padding-right: 10px;
  }
  .gallery {
      display: grid;
      width: 100%;
      gap:0;
      margin-left: 10px;
      margin-right: 20px;
      margin-bottom: 20px;
  }
  .main__title-gal {
      margin-top: 63px;
      margin-bottom: 20px;
      margin-right: 20px;
  }
  .galerry__img {
      gap: 20px;
      grid-template-columns: repeat(3, calc(100% / 3 - 15px));
      grid-template-rows: min-content min-content max-content;
      margin-right: 15px;
  }
  .gallery__image {
      width: 100%;
  }
  .gallery__image-one {
      grid-column: 1/3;
      grid-row: 1/2;
  }
  .gallery__image-two {
      grid-column: 3/4;
      grid-row: 3/1;
      min-height: calc(100% - 1px);
  }
  .gallery__image-three {
      grid-column: 1/2;
      grid-row: 2/4;
      min-height: 568px;
  }
  .gallery__image-four {
      grid-column: 2/3;
      grid-row: 2/3;
  }
  .gallery__image-five {
      grid-column: 2/4;
      grid-row: 3/4;
  }
  .footer__title {
    margin-top:10px ;
  }
}
@media (width >= 1024px) {
  .page {
      display: grid;
      min-height: 768px;
  }
  .header {
      display: grid;
      height: 768px;
      padding: 0;
  }
  .header__title {
    position: relative;
    bottom: 55px;
      font-size: 157px;
      line-height: 129.53px;
      justify-self: start;
  }
  .header__REC-u {
      top: 20px;
      right: 20px;
  }
  .header__REC-d {
      bottom: 20px;
      left: 20px;
  }
  .header__REC-text {
      position: relative;
      align-self: start;
      justify-self: end;
      right: 22px;
      top: 10px;
  }
  .header__theme-menu {
      position: absolute;
      top: 19px;
      justify-self: center;
      right: 38.7%;
      margin-bottom: 0;
  }
  .header__theme-menu-list {
      position: relative;
      display: flex;
      right: 0;
      top: 0px;
  }
  .header__text-p {
      position: relative;
      justify-self: end;
      bottom: 50px;
      margin-top: 0px;
      height: 71px;
      min-width: 491px;
  }
  .main {
      padding: 0 10px 20px 10px;
      min-width:calc(100%-1024px) ;
      gap: 0;
  }
  .main__section-fr {
      display: flex;
      flex-direction: column;
      justify-items: start;
  }
  .main__title-decor {
      position: relative;
      min-width: 315px;
      height: 23px;
  }
  .main__title {
      position: relative;
      padding: 0;
      margin-bottom: 20px;
      height: 71px;
      min-width: 314.96px;
  }
  .title__one {
      top: 18px;
      left: 10px;
  }
  .main__text-fr {
      position: relative;
      width: calc(100% - 355px);
      align-self: flex-end;
      bottom: 72px;
      padding-right: 10px;
  }
  .main__section-sec {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: start;
      bottom: 60px;
  }
  .main__section-text {
      position: relative;
      display: grid;
      grid-template-columns: repeat(3, 315px);
      gap: 20px;
      left: 10px;
      bottom: 27px;
  }
  .sec-one {
      position: relative;
      align-self: flex-end;
      justify-self: start;
      min-width: 649px;
      margin-right: 10px;
      bottom: 70px;
  }
  .t-d {
      position: relative;
      align-self: flex-end;
      justify-self: start;
      bottom: 103px;
  }
  .main__section-th {
      display: grid;
      position: relative;
      grid-template-columns: min-content minmax(472px, max-content);
      inline-size: calc(100% - 20px);
      gap: 20px;
      padding-left: 10px;
      top: -30px;
  }
  .main__section-text-th {
      padding-top: 5px;
      padding-right: 5px;
  }
  .gallery {
      position: relative;
      display: grid;
      width: 100%;
      margin-left: 10px;
      margin-right: 20px;
      margin-bottom: 15px;
      bottom: 25px;
  }
  .main__title-gal {
      margin-top: 55px;
      margin-bottom: 15px;
      margin-right: 20px;
  }
  .galerry__img {
      gap: 20px;
      grid-template-columns: repeat(3, calc(100% / 3 - 15px));
      grid-template-rows: min-content min-content max-content;
      padding-top: 5px;
      margin-right: 15px;
  }
  .gallery__image {
      width: 100%;
  }
  .gallery__image-one {
      grid-column: 1/3;
      grid-row: 1/2;
  }
  .gallery__image-two {
      grid-column: 3/4;
      grid-row: 3/1;
      min-height: calc(100% - 1px);
  }
  .gallery__image-three {
      grid-column: 1/2;
      grid-row: 2/4;
      min-height: calc(100% - 1px);
  }
  .gallery__image-four {
      grid-column: 2/3;
      grid-row: 2/3;
  }
  .gallery__image-five {
      grid-column: 2/4;
      grid-row: 3/4;
  }
  .footer {
      margin-top: 10px;
      position: relative;
      justify-content: center;
      align-items: center;
      height: 100vh;
      bottom: 0px;
      margin: 0;
  }
  .footer__title {
      font-size: 157px;
      line-height: 129.53px;
  }
}
