:root {
  /* GLOBAL TEXT */
  --hf-text-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --hf-text-lh: 95.7px;
  --main-text-size: 18px;
  --main-text-weight-l: normal;
  --main-text-weight-b: bold;
  --mein-text-lh: 23.4px;
  --main-text-ff: "IBM Plex mono", sans-serif;

  --header-title: #db00ff;
  --header-title-shadow: #ff0070;
  --header-text: #000028;
  --header-text-decoration: #ff0070;
  --header-REC: #ff0070;
  --header-button: #ff0070;
  --header-button-border: #ff0070;
  --main-title: #ff0070;
  --main-title-second: #000028;
  --main-title-docoration: #ff0070;
  --main-text: #f1b2ce;
  --main-link-shadow: #ff0070;
  --backgroung-img: url(../images/cover-image-dark.png);
  --background-color: #000028;
}